body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
main {
    margin: 30px 100px;
}
form {
    margin: 50px 15px;
}

label, button {
    display: block; 

}
 label {
    
    margin: 5px 0px;
}

button {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #007700;
    color: #ffffff;
}

button:hover{
    background-color: #ffffff;
    color: #007700;
    transition: 0.5s ease;
}

h1 {
    color: #007700;
    text-shadow: 1px 1px 1px #16161d;
}

input, select {
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ff0000;
    transition: 0.6s ease;
    
}

input:focus, select:focus {
    border-bottom: 2px solid #007777;
    transition: 0.6s ease;
}

select {
    background-color: #ffffff;
}

.esporte favorito {
    width: 250px;
}
.nome {
    width: 250px;

}

.data-nascimento {
    width: 200px;

}

.Altura {
    width: 75px;
}

.Idade {
    width: 75px;
}

.Genero {
    width: 250px;
}

